:root {
    --navcolor: antiquewhite;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --bordercol: antiquewhite;
    --background: rgba(70, 196, 255, 0.397);
}

header {
    background-color: rgb(29, 39, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--navcolor);
    font-size: 50px;
    font-family: var(--font);
    background-color: var(--background);
    border-style: solid;
    border-width: 2px 2px 2px 0;
    border-color: var(--bordercol);
    border-radius: 0 10px 10px 0;
    padding: 10px 10px 10px 40px;
    margin: 20px 0 20px 0;
}

nav { 
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    text-decoration: underline;
    color: var(--navcolor);
    font-size: 25px;
    font-family: var(--font);
    background-color: var(--background);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 768px) {

    header,
    a {

        flex-direction: column;
        text-align: center;
    }

    h1 {
        border-radius: 10px;
        border-width: 2px;
        padding: 10px;
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}